doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Memory Game
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    .container.item-center.text-center
      h1.text-center Memory Game
      btn.btn.btn-primary#resetBtn(type="button" onclick='Reset()') csáá
      div.row.item-center.text-center.d-flex.justify-content-center#game-board

     
    script(src="/js/card.js")

    


